@media all and (max-width: $window-mobile-max) {
  .surf__header {
    @include hf-dimensions-mobile;
    background: $color-theme;
    .title__logo {
      @include logo-placement;
      @include block-list;
      .blog__title {
        color: #fff
      }
      .credit {
        font-size: 12px;
        color: $color-theme-light;
      }
    }
  }
  .surf__headerNav {
    margin: 0;
    padding: 0;
    background: url('../images/bb.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    > ul {
      @include blue-overlay;
      text-align: center;
      padding: 0;
      > li {
        @include inline-block-list;
        margin: 0 15% 0 15%;
      }
      a {
        text-decoration: none;
        color: #000;
        line-height: 5px;
        font-weight: 500;
      }
    }
  }
}